@font-face {
  font-family: 'imv2';
  src:  url('../fonts/imv2.eot?8zjmgv');
  src:  url('../fonts/imv2.eot?8zjmgv#iefix') format('embedded-opentype'),
    url('../fonts/imv2.ttf?8zjmgv') format('truetype'),
    url('../fonts/imv2.woff?8zjmgv') format('woff'),
    url('../fonts/imv2.svg?8zjmgv#imv2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="imv2-"], [class*=" imv2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'imv2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imv2-windows:before {
  content: "\e92a";
}
.imv2-head1:before {
  content: "\e928";
}
.imv2-head2:before {
  content: "\e929";
}
.imv2-cloud_webide:before {
  content: "\e926";
}
.imv2-open_code:before {
  content: "\e927";
}
.imv2-dot_normal:before {
  content: "\e924";
}
.imv2-dot_samll:before {
  content: "\e925";
}
.imv2-code_circle:before {
  content: "\e920";
}
.imv2-exercise_circle:before {
  content: "\e921";
}
.imv2-homework_circle:before {
  content: "\e922";
}
.imv2-video_circle:before {
  content: "\e923";
}
.imv2-line:before {
  content: "\e91e";
}
.imv2-school:before {
  content: "\e91d";
}
.imv2-pin:before {
  content: "\e91c";
}
.imv2-path:before {
  content: "\e91a";
}
.imv2-war:before {
  content: "\e91b";
}
.imv2-score_shop:before {
  content: "\e563";
}
.imv2-receipt:before {
  content: "\e8b0";
}
.imv2-loading:before {
  content: "\e918";
}
.imv2-play_circle:before {
  content: "\e038";
}
.imv2-cloud_upload:before {
  content: "\e2c3";
}
.imv2-cloud_download:before {
  content: "\e2c0";
}
.imv2-cloud_done:before {
  content: "\e2bf";
}
.imv2-cloud:before {
  content: "\e42d";
}
.imv2-alarm:before {
  content: "\e855";
}
.imv2-nav_chapter:before {
  content: "\e916";
}
.imv2-nav_qa:before {
  content: "\e917";
}
.imv2-nav_note:before {
  content: "\e22b";
}
.imv2-set-key:before {
  content: "\e903";
}
.imv2-set-sns:before {
  content: "\e904";
}
.imv2-set-email:before {
  content: "\e905";
}
.imv2-feedback:before {
  content: "\e906";
}
.imv2-appdownload:before {
  content: "\e907";
}
.imv2-weixigzh:before {
  content: "\e908";
}
.imv2-lock:before {
  content: "\e897";
}
.imv2-chapter:before {
  content: "\e900";
}
.imv2-half:before {
  content: "\e901";
}
.imv2-empty:before {
  content: "\e902";
}
.imv2-video:before {
  content: "\e037";
}
.imv2-code:before {
  content: "\e86f";
}
.imv2-exercise:before {
  content: "\e164";
}
.imv2-homework:before {
  content: "\e909";
}
.imv2-arrow1_l:before {
  content: "\e5c6";
}
.imv2-arrow1_r:before {
  content: "\e5cb";
}
.imv2-arrow1_u:before {
  content: "\e5c7";
}
.imv2-arrow1_d:before {
  content: "\e5c5";
}
.imv2-arrow2_l:before {
  content: "\e408";
}
.imv2-arrow2_r:before {
  content: "\e409";
}
.imv2-arrow2_u:before {
  content: "\e5ce";
}
.imv2-arrow2_d:before {
  content: "\e5cf";
}
.imv2-arrow3_l:before {
  content: "\e5c4";
}
.imv2-arrow3_r:before {
  content: "\e5c8";
}
.imv2-arrow3_u:before {
  content: "\e5d8";
}
.imv2-arrow3_d:before {
  content: "\e5db";
}
.imv2-checkbox:before {
  content: "\e834";
}
.imv2-checkbox_onk:before {
  content: "\e835";
}
.imv2-radiobox:before {
  content: "\e837";
}
.imv2-radiobxo_o:before {
  content: "\e836";
}
.imv2-check:before {
  content: "\e5ca";
}
.imv2-check_c:before {
  content: "\e86c";
}
.imv2-close:before {
  content: "\e5cd";
}
.imv2-close_c:before {
  content: "\e5c9";
}
.imv2-error_c:before {
  content: "\e000";
}
.imv2-info:before {
  content: "\e88e";
}
.imv2-add_circle_o:before {
  content: "\e3ba";
}
.imv2-add_circle:before {
  content: "\e147";
}
.imv2-help_outline:before {
  content: "\e8fd";
}
.imv2-help:before {
  content: "\e887";
}
.imv2-thumb_up:before {
  content: "\e8dc";
}
.imv2-thumb_down:before {
  content: "\e8db";
}
.imv2-history:before {
  content: "\e8b5";
}
.imv2-cart:before {
  content: "\e8cc";
}
.imv2-add_cart:before {
  content: "\e854";
}
.imv2-star:before {
  content: "\e838";
}
.imv2-star_h:before {
  content: "\e919";
}
.imv2-delete:before {
  content: "\e872";
}
.imv2-edit:before {
  content: "\e254";
}
.imv2-replay:before {
  content: "\e042";
}
.imv2-refresh:before {
  content: "\e90a";
}
.imv2-set_1:before {
  content: "\e8b8";
}
.imv2-set_2:before {
  content: "\e429";
}
.imv2-folder:before {
  content: "\e2c7";
}
.imv2-share:before {
  content: "\e80d";
}
.imv2-visibility:before {
  content: "\e8f4";
}
.imv2-visibility_off:before {
  content: "\e8f5";
}
.imv2-search:before {
  content: "\e8b6";
}
.imv2-message:before {
  content: "\e159";
}
.imv2-notifications:before {
  content: "\e7f4";
}
.imv2-home:before {
  content: "\e88a";
}
.imv2-kecheng:before {
  content: "\e86e";
}
.imv2-shizhan:before {
  content: "\e1e2";
}
.imv2-lujing:before {
  content: "\e14f";
}
.imv2-yuanwen:before {
  content: "\e90b";
}
.imv2-shouji:before {
  content: "\e90c";
}
.imv2-wiki:before {
  content: "\e90d";
}
.imv2-follow_user:before {
  content: "\e7f0";
}
.imv2-photo:before {
  content: "\e412";
}
.imv2-tag_faces:before {
  content: "\e420";
}
.imv2-pause:before {
  content: "\e034";
}
.imv2-fullscreen:before {
  content: "\e5d0";
}
.imv2-fullscreen_exit:before {
  content: "\e5d1";
}
.imv2-vol_up:before {
  content: "\e050";
}
.imv2-vol_down:before {
  content: "\e04d";
}
.imv2-vol_mute:before {
  content: "\e04e";
}
.imv2-vol_off:before {
  content: "\e04f";
}
.imv2-ios:before {
  content: "\e90e";
}
.imv2-android:before {
  content: "\e859";
}
.imv2-weixin:before {
  content: "\e90f";
}
.imv2-qq:before {
  content: "\e910";
}
.imv2-weibo:before {
  content: "\e911";
}
.imv2-weixin_c:before {
  content: "\e912";
}
.imv2-qq_c:before {
  content: "\e913";
}
.imv2-weibo_c:before {
  content: "\e914";
}
.imv2-imooc:before {
  content: "\e915";
}
.imv2-load_o:before {
  content: "\e88b";
}
.imv2-textsms:before {
  content: "\e0d8";
}
.imv2-follow_o:before {
  content: "\e87e";
}
.imv2-follow:before {
  content: "\e87d";
}
.imv2-add:before {
  content: "\e145";
}
.imv2-assignment_ind:before {
  content: "\e85e";
}
.imv2-flag:before {
  content: "\e153";
}
.imv2-finish:before {
  content: "\e3a6";
}
.imv2-build:before {
  content: "\e869";
}
.imv2-chat_bubble:before {
  content: "\e0ca";
}
.imv2-cloud_off:before {
  content: "\e2c1";
}
.imv2-description:before {
  content: "\e873";
}
.imv2-insert_invitation:before {
  content: "\e24f";
}
.imv2-event_busy:before {
  content: "\e615";
}
.imv2-filter_drama:before {
  content: "\e3dd";
}
.imv2-format_size:before {
  content: "\e245";
}
.imv2-bold:before {
  content: "\e238";
}
.imv2-italic:before {
  content: "\e23f";
}
.imv2-list_bulleted:before {
  content: "\e241";
}
.imv2-list_numbered:before {
  content: "\e242";
}
.imv2-link:before {
  content: "\e157";
}
.imv2-quote:before {
  content: "\e244";
}
.imv2-undo:before {
  content: "\e166";
}
.imv2-redo:before {
  content: "\e15a";
}
.imv2-import_image:before {
  content: "\e3c4";
}
.imv2-photo_image:before {
  content: "\e410";
}
.imv2-lightbulb_outline:before {
  content: "\e91f";
}
.imv2-memory:before {
  content: "\e322";
}
.imv2-more_horiz:before {
  content: "\e5d3";
}
.imv2-forward:before {
  content: "\e040";
}
.imv2-sim_card:before {
  content: "\e32b";
}
.imv2-stars:before {
  content: "\e8d0";
}
.imv2-straighten:before {
  content: "\e41c";
}
.imv2-invoice:before {
  content: "\e048";
}
.imv2-voicemail:before {
  content: "\e0d9";
}
.imv2-bright:before {
  content: "\e42e";
}
