 .hot-tags {
        margin-top:1rem;
        display:flex;
        flex-direction:column;
        .hot-tags-title {
            border-bottom:1px solid #eee;
            p {
                float:left;
                font-size:.875rem;
                color:#000;
            }
            a {
                float:left;
                text-decoration:none;
                color:#007fff;
                font-size:.75rem;
                padding-top:.1875rem;
                margin-left:9rem;
            }
        }
        .hot-tags-all {
            margin-left:-40px;
            ul li {
                list-style:none;
                display:block;
                float:left;
                white-space:normal;
                width:3rem;
                height:1.875rem;
                background:#F3F6F3;
                margin-right:5px;
                text-align:center;
                padding-top:.1875rem;
                border-radius:50% solid #F3F6F3;
                cursor:pointer;
                &:hover {
                    color:#fff;
                    background:#0c0;
                }
            }
        }
    }